@{
    ViewBag.tittle = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <form action="">
        <h1>Login Form</h1>
        <div class="form-group">
            <label for="">EmailId</label>
            <input type="text" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" required />
        </div>
        <input type="submit"  class="btn" value="Login"/>

    </form>
</div>