<!DOCTYPE html>
<html>
<head>
    <title>Contact Us page</title>
    <link rel="stylesheet" href="~/css/ContactUs.css">
</head>
<body>
    <section class="service">
        <h1>
            Options to Contact Us
        </h1>
        <div id="service">
            <div>
                <p>
                    People can fill up the form and send us the problem
                </p>
            </div>
            <div>
                <p>
                    Use this Email to send us about the problem faced
                </p>
            </div>
            <div>
                <p>
                    Toll Free Number:+1800 200 300 400
                </p>
            </div>
        </div>
    </section>
    <footer class="background">
        <p class="text-footer">
            &copy; Copyright -All rights are reserved
        </p>
    </footer>
</body>

</html>
