<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Card</title>
 <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="~/Images/TeluguNovel.jpg" class="card-img-top" alt="TeluguNovel">
                    <div class="card-body">
                        <h5 class="card-title">Kachatapalu</h5>
                        <p class="card-text">It begins with him reaching the shores of England. After spending a few days in London, he travels to Edinburgh in Scotland on the advice of a recent acquaintance to study at university there. He finds some students from India, who help him settle down and mingle with the local population. With the help of a tutor, he studies to pass the entrance exam to the University of Edinburgh.</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem; display:inline-block;">
                    <img src="~/Images/TeluguNovel2.jpg" class="card-img-top" alt="TeluguNovel">
                    <div class="card-body">
                        <h5 class="card-title">Baristar Parvathisum</h5>
                        <p class="card-text">It describes the naive Parvateesam running away from home in Mogalthur, a small town that he calls a "famous historical city" in the West Godavari district of Andhra Pradesh, to become a barrister.[3] The novel depicts the troubles he faced in dealing with other languages, and the naive way he behaves with people from the outside world. It ends with his reaching the shores of England.</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="~/Images/TeluguNovel1.jpg" class="card-img-top" alt="TeluguNovel">
                    <div class="card-body">
                        <h5 class="card-title">Tharalu</h5>
                        <p class="card-text">He describes the situation in Scotland during the First World War. Even as war is raging, he finishes his studies to qualify as a Barrister-at-Law and returns to India. He is happy to return to his homeland.</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem; display:inline-block;">
                    <img src="~/Images/TeluguNovel3.jpg" class="card-img-top" alt="TeluguNovel">
                    <div class="card-body">
                        <h5 class="card-title">Kali Mazalilu</h5>
                        <p class="card-text">It begins with him reaching the shores of Bombay. Having grown accustomed to western culture over three years, he is baffled by the bureaucracy and lethargy of the Indian populace. He makes his way to his native village, much to the relief of his parents.</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="~/Images/HindiNovel.jpg" class="card-img-top" alt="HindiNovel">
                    <div class="card-body">
                        <h5 class="card-title">Ali Baba</h5>
                        <p class="card-text">Ali Baba and his older brother,Cassim (sometimes spelled Kasim), are the sons of a merchant. After their father's death, the greedy Cassim marries a wealthy woman and becomes well-to-do, building on their father's business. Ali Baba marries a poor woman and settles into the trade of a woodcutter.</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem; display:inline-block;">
                    <img src="~/Images/HindiNovel1.jpg" class="card-img-top" alt="HindiNovel">
                    <div class="card-body">
                        <h5 class="card-title">Chanikya Niti</h5>
                        <p class="card-text">The thieves, finding the body gone, realize that another person must know their secret, and they set out to track him down. One of the thieves goes down to the town and comes across Baba Mustafa, who mentions that he has just sewn the pieces of a corpse back together. </p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="~/Images/HindiNovel2.jpg" class="card-img-top" alt="HindiNovel">
                    <div class="card-body">
                        <h5 class="card-title">Jatak kathaya</h5>
                        <p class="card-text">The leader of the thieves pretends to be an oil merchant in need of Ali Baba's hospitality, bringing with him mules loaded with 38 oil jars, one filled with oil, the other 37 hiding the other remaining thieves. </p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem; display:inline-block;">
                    <img src="~/Images/HindiNovel3.jpg" class="card-img-top" alt="HindiNovel">
                    <div class="card-body">
                        <h5 class="card-title">Do Dost aur Balu</h5>
                        <p class="card-text">Under pressure from his brother, Ali Baba is forced to reveal the secret of the cave. Cassim goes to the cave, taking a donkey with him to take as much treasure as possible. He enters the cave with the magic words. However, in his greed and excitement over the treasure, he forgets the words to get out again and ends up trapped. The thieves find him there and kill him</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="~/Images/Novel3.jpg" class="card-img-top" alt="EnglishNovel">
                    <div class="card-body">
                        <h5 class="card-title">Terry Eagleton</h5>
                        <p class="card-text">The lives of these three individuals are linked in many ways, though most tangibly by the presence of a mysterious creature called The Shrander, who appears in many guises to all three characters throughout the novel (with anagrammatic names of Sandra Shen and Dr. Haends).</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem; display:inline-block;">
                    <img src="~/Images/Novel2.jpg" class="card-img-top" alt="EnglishNovel">
                    <div class="card-body">
                        <h5 class="card-title">Lady of Lights and Shadows</h5>
                        <p class="card-text">Elements of Light originally surfaced in Harrison's short fiction, particularly the stories "The Horse of Iron and How We Can Know It" and "The Incalling". </p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="~/Images/Novel1.jpg" class="card-img-top" alt="EnglishNovel">
                    <div class="card-body">
                        <h5 class="card-title">Queen of Songs and Souls</h5>
                        <p class="card-text">The former contains prototypes of the Shrander and Kearney characters, whilst the latter deals with the Sprakes, a clan of dubious urban magicians. Both stories are available in the collected volume of Harrison's short fiction, Things That Never Happen.</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem; display:inline-block;">
                    <img src="~/Images/Novel.jpg" class="card-img-top" alt="EnglishNovel">
                    <div class="card-body">
                        <h5 class="card-title">The Promise</h5>
                        <p class="card-text">The Shrander takes many forms, most often with the body of an old woman in a maroon wool coat, with a horse's skull for a head which may be similar to its original form</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </body>
</html>