@{
    ViewBag.tittle = "Home";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h1>Home Page</h1>
<div align="center">
    <img src="~/Images/bhavnaimage.png" alt="bhavnalogo"  height="200" width="150"/>
</div>
<div id="hemo">
<p>
    Bhavna Corp. - "Think Locally - Work Globally" is driven by a passion to deliver the most innovative and cost-effective solutions to its clients.
    We provide a combination of engineering consultancy, offshore engineering services, and turnkey solutions.
    Working collaboratively with our clients' engineering management teams.
</p>
</div>
