<!DOCTYPE html>
<html>
<head>
    <title> Login Page </title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <div>
        <form>
            <h1>Login Form </h1>
            <div class="container">
                <label>Username : </label>
                <input type="email" placeholder="Enter Email" name="Email" required>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <input type="checkbox" checked="checked"> Remember me &nbsp;&nbsp;
                Forgot <a href="#"> password? </a>
                <button type="submit">Login</button>
            </div>
        </form>
        </div>
</body>
</html>